<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Anymarket_Anymarket::menu" title="Anymarket" sortOrder="10" >
                    <resource id="Anymarket_Anymarket::anymarketfeed" title="Feeds" sortOrder="0" />
                    <resource id="Anymarket_Anymarket::anymarketorder" title="Orders" sortOrder="100" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>