<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <anymarket>
            <general>
                <enable>1</enable>
                <host>http://api.anymarket.com.br</host>
            </general>
        </anymarket>
        <carriers>
            <anymarket_shipping>
                <model>Anymarket\Anymarket\Model\Anymarketshipping</model>
                <active>1</active>
                <title>anymarket_shipping</title>
                <name>Anymarket Shipping</name>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </anymarket_shipping>
        </carriers>
        <payment>
            <anymarket_payment>
                <active>1</active>
                <model>Anymarket\Anymarket\Model\Anymarketpayment</model>
                <order_status>pending</order_status>
                <title>Anymarket Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </anymarket_payment>
        </payment>
    </default>
</config>