<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="cataloginventory_stock_item_save_after">
		<observer instance="Anymarket\Anymarket\Observer\ProductStockSave" name="Anymarket_Anymarket_Product_Stock_Save"/>
	</event>
	<event name="controller_action_catalog_product_save_entity_after">
		<observer instance="Anymarket\Anymarket\Observer\ProductSaveAfter" name="Anymarket_Anymarket_Product_Save_After"/>
	</event>
	<event name="sales_order_save_after">
		<observer instance="Anymarket\Anymarket\Observer\OrderSaveAfter" name="Anymarket_Anymarket_Order_Save_After"/>
	</event>
	<event name="sales_quote_address_collect_totals_after">
		<observer instance="Anymarket\Anymarket\Observer\CollectTotalsAfter" name="Anymarket_Anymarket_Collect_Totals_After"/>
	</event>
</config>
